@font-face {
  font-family: 'PlayfairDisplay-Regular';
  src: url('../fonts/PlayfairDisplay/PlayfairDisplay-Regular.ttf');
}
@font-face {
  font-family: 'PlayfairDisplay-Italic';
  src: url('../fonts/PlayfairDisplay/PlayfairDisplay-Italic.ttf');
}
@font-face {
  font-family: 'PlayfairDisplay-Bold';
  src: url('../fonts/PlayfairDisplay/PlayfairDisplay-Bold.ttf');
}
@font-face {
  font-family: 'Roboto-Regular';
  src: url('../fonts/Roboto/Roboto-Regular.ttf');
}
html,
body {
  height: 100%;
  background-color: #FEFBF3;
  color: #555555;
  font-size: 18px;
  font-family: "Roboto-Regular";
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}
html .preload-loading,
body .preload-loading {
  width: 100%;
  height: 100%;
  background-color: #7EB184;
  overflow: hidden;
  text-align: center;
}
html .preload-loading .loading-widgets,
body .preload-loading .loading-widgets {
  border: none;
  text-align: center;
  margin-top: 10%;
}
html .preload-loading .loading-widgets img,
body .preload-loading .loading-widgets img {
  margin: 0 auto 4em auto;
  display: block;
}
html .preload-loading .loading-widgets .dial,
body .preload-loading .loading-widgets .dial {
  display: none;
}
html .preload-content,
body .preload-content {
  display: none;
}
html a,
body a {
  transition: all 0.35s ease-in-out;
  color: #555555;
}
html a:hover,
body a:hover {
  color: #5B7543;
}
html footer,
body footer {
  margin-top: 3em;
  margin-bottom: 6em;
}
html footer .submenu,
body footer .submenu {
  margin-bottom: 1em;
}
html footer .submenu a,
body footer .submenu a {
  font-family: "PlayfairDisplay-Regular";
  font-size: 24px;
  line-height: 16px;
  margin-right: .5em;
}
html footer .submenu a:not(:last-child):after,
body footer .submenu a:not(:last-child):after {
  content: '\00B7';
  font-size: 1.3em;
  padding-left: .5em;
  padding-top: .5em;
  color: #7EB184;
}
html footer .address,
body footer .address {
  font-size: 13px;
  line-height: 11px;
  color: #555555;
}
html footer .company,
body footer .company {
  font-family: "PlayfairDisplay-Regular";
  font-size: 12px;
  text-align: center;
  line-height: 11px;
}
html footer .company a,
body footer .company a {
  font-family: "PlayfairDisplay-Italic";
  color: #7EB184;
}
html .leftBgImage,
body .leftBgImage {
  position: absolute;
  left: 0;
  top: 50%;
  width: 15%;
  height: 100%;
}
html .rightBgImage,
body .rightBgImage {
  position: absolute;
  right: 0;
  top: 60%;
  width: 35%;
  height: 100%;
}
html span.is-img img,
body span.is-img img {
  opacity: 0;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}
html span.is-img .loaded,
body span.is-img .loaded {
  opacity: 1 !important;
}
html .container,
body .container {
  max-width: 1140px;
  padding: 0;
}
html .container .row,
body .container .row {
  margin: 0;
}
html .container header,
body .container header {
  padding: 1em 0 3em 0;
  text-align: center;
  vertical-align: middle;
  line-height: 3em;
}
html .container header a,
body .container header a {
  font-size: 14px;
}
html .container header a img,
body .container header a img {
  margin-right: .5em;
}
html .container header .left,
body .container header .left {
  float: left;
}
html .container header .left a:not(last-child),
body .container header .left a:not(last-child) {
  margin-right: 1.5em;
}
html .container header .right,
body .container header .right {
  float: right;
}
html .container header .right a:not(first-child),
body .container header .right a:not(first-child) {
  margin-left: 1.5em;
}
.homepage .top .left h1 {
  font-family: 'PlayfairDisplay-Bold';
  font-size: 90px;
  font-weight: bold;
  text-align: right;
  line-height: 78px;
}
.homepage .top .left h2 {
  font-family: 'PlayfairDisplay-Italic';
  font-size: 26px;
  font-style: italic;
  text-align: right;
  line-height: 35px;
}
.homepage .top .left p {
  margin-top: 2em;
  margin-left: auto;
  width: 281px;
  height: 182px;
  font-size: 18px;
  text-align: justify;
  line-height: 26px;
}
.homepage .top .left img {
  margin-left: auto;
  display: block;
}
.homepage .top .left .hr {
  margin-right: 4em;
  margin-top: -8em;
  margin-bottom: 2em;
}
.homepage .top .right {
  text-align: center;
}
.homepage .top .right .product .inner:hover .carousel-prev,
.homepage .top .right .product .inner:hover .carousel-next {
  visibility: visible;
}
.homepage .top .right .product .inner {
  text-align: center;
  position: relative;
  width: 260px;
  margin: 0 auto;
}
.homepage .top .right .product .inner .carousel-prev {
  visibility: hidden;
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 40%;
}
.homepage .top .right .product .inner .carousel-next {
  visibility: hidden;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 40%;
}
.homepage .top .right .product .inner .featured {
  margin: 0 auto;
  display: block;
  width: 235px;
  height: 320px;
  overflow: hidden;
}
.homepage .top .right .product .control .first-row .add,
.homepage .top .right .product .control .first-row .remove {
  display: inline-block;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background-color: #E0D9C9;
  vertical-align: middle;
  line-height: 25px;
  cursor: pointer;
}
.homepage .top .right .product .control .first-row .add img,
.homepage .top .right .product .control .first-row .remove img {
  margin-top: -0.65em;
  font-size: 16px;
  font-weight: 900;
}
.homepage .top .right .product .control .first-row .remove img {
  margin-top: -0.55em;
}
.homepage .top .right .product .control .first-row .add:hover,
.homepage .top .right .product .control .first-row .remove:hover {
  background: #fefcf6;
}
.homepage .top .right .product .control .first-row [type=text] {
  font-family: 'PlayfairDisplay-Bold';
  font-size: 24px;
  width: 2em;
  text-align: center;
  border: none;
  background: none;
}
.homepage .top .right .product .control .second-row .btn-success {
  margin-top: 1.5em;
  background: #99c1a0 !important;
  border-color: #7EB184;
}
.homepage .top .right .product .control .second-row .btn-success:hover {
  background: #5B7543 !important;
}
.homepage .middle {
  text-align: center;
  padding: 2em 0 8em 0;
}
.homepage .bottom .leftHalf {
  width: 50%;
  position: absolute;
  left: 0px;
  height: 100%;
  overflow: hidden;
}
.homepage .bottom .leftHalf img {
  width: 100%;
}
.homepage .bottom .right {
  text-align: center;
}
.homepage .bottom .right .title-wrap {
  background: #FEFBF3;
  padding: 1em 0 2em 3em;
  margin-left: -5em;
}
.homepage .bottom .right .title-wrap h2 {
  font-family: 'PlayfairDisplay-Regular';
  font-size: 50px;
  line-height: 67px;
  text-align: left;
  margin: auto;
}
.homepage .bottom .right p {
  text-align: left;
  width: 320px;
  margin: 1em auto;
}
