@font-face {
  font-family: 'PlayfairDisplay-Regular';
  src: url('../fonts/PlayfairDisplay/PlayfairDisplay-Regular.ttf');
}
@font-face {
  font-family: 'PlayfairDisplay-Italic';
  src: url('../fonts/PlayfairDisplay/PlayfairDisplay-Italic.ttf');
}
@font-face {
  font-family: 'PlayfairDisplay-Bold';
  src: url('../fonts/PlayfairDisplay/PlayfairDisplay-Bold.ttf');
}
@font-face {
  font-family: 'Roboto-Regular';
  src: url('../fonts/Roboto/Roboto-Regular.ttf');
}
@font-face {
  font-family: 'Roboto-Medium';
  src: url('../fonts/Roboto/Roboto-Medium.ttf');
}
@font-face {
  font-family: 'Roboto-Bold';
  src: url('../fonts/Roboto/Roboto-Bold.ttf');
}
@font-face {
  font-family: 'Roboto-Light';
  src: url('../fonts/Roboto/Roboto-Light.ttf');
}
/*----------------Global mixin-------------------*/
/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */
/* Small devices (tablets, 768px and up) 
@media (min-width: @screen-sm-min) { ... }
*/
/* Medium devices (desktops, 992px and up) 
@media (min-width: @screen-md-min) { ... }
*/
/* Large devices (large desktops, 1200px and up)
@media (min-width: @screen-lg-min) { ... }
*/
/*----------------Bootstrap override-------------------*/
html {
  font-size: 16px;
  line-height: 1.8;
  margin-top: 0 !important;
}
.btn {
  background: #7eb184;
  border: none;
  text-shadow: none;
  box-shadow: none;
  border-radius: 5px;
  font-size: 1em;
  color: white;
  transition: all 0.2s ease-in-out;
  font-family: 'Roboto-Medium';
}
.btn:hover,
.btn:focus {
  background: #5b7543;
  color: white;
}
.btn.btn-sm {
  font-size: 0.8125rem;
  color: white;
}
.btn.btn-lg {
  font-size: 1rem;
}
.btn.btn-option {
  color: #aaaaaa;
  border: 1px solid #e0d9c9;
  background: transparent;
}
.btn.btn-option:hover {
  background-color: #e0d9c9;
  border: 1px solid #e0d9c9;
  color: #555555;
}
/* centered columns styles */
.row-centered {
  text-align: center;
}
.col-centered {
  display: inline-block;
  float: none;
  /* reset the text-align */

  text-align: left;
  /* inline-block space fix */

  margin-right: -4px;
  vertical-align: top;
  margin-bottom: 4em;
}
.noPadding {
  padding: 0 !important;
  margin: 0 !important;
}
.overHidden {
  overflow: hidden;
}
/*----------------Global-------------------*/
body {
  overflow-y: hidden;
  font-size: 16px;
  /*This is to stretch .content area for sticky footer.*/

  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
html {
  overflow-y: scroll;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'PlayfairDisplay-Regular', serif;
  margin-top: 0;
}
.article-title {
  font-family: 'PlayfairDisplay-Regular';
  font-size: 2rem;
  line-height: 3rem;
  text-align: left;
  margin-bottom: 2rem;
}
@media (min-width: 768px) {
  .article-title {
    font-size: 3.125rem;
    line-height: 4rem;
  }
}
p {
  font-size: 1em;
  line-height: 1.5em;
}
@media (min-width: 768px) {
  
}
html,
body {
  height: 100%;
  background-color: #fefbf3;
  color: #555555;
  font-family: 'Roboto-Regular', sans-serif;
  transition: all 0.2s ease-in-out;
}
html .preload-loading,
body .preload-loading {
  display: none;
  width: 100%;
  height: 100%;
  background-color: #ebe1cd;
  overflow: hidden;
  text-align: center;
}
html .preload-loading .loading-widgets,
body .preload-loading .loading-widgets {
  border: none;
  text-align: center;
  margin-top: 10%;
}
html .preload-loading .loading-widgets img,
body .preload-loading .loading-widgets img {
  margin: 0 auto 2em auto;
  display: block;
}
html .preload-loading .loading-widgets .dial,
body .preload-loading .loading-widgets .dial {
  display: none;
}
html .preload-content,
body .preload-content {
  display: block;
}
html a,
body a,
html a:visited,
body a:visited {
  transition: all 0.2s ease-in-out;
  color: #555555;
  text-decoration: none;
}
html a:hover,
body a:hover {
  transition: all 0.2s ease-in-out;
  color: #7eb184;
  text-decoration: none;
}
html span.is-img img,
body span.is-img img {
  opacity: 0;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}
html span.is-img .loaded,
body span.is-img .loaded {
  opacity: 1 !important;
}
/*----------------Header-------------------*/
header {
  padding-top: 2em;
  padding-bottom: 2.5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header:before,
header:after {
  display: none !important;
}
@media (min-width: 768px) {
  header {
    padding-top: 2.5em;
    padding-bottom: 4em;
  }
}
header a {
  font-size: .875rem;
}
header #logo img {
  max-width: 100%;
  margin: auto;
  text-align: center;
  display: block;
}
header .main-nav {
  display: flex;
  align-items: center;
}
header .main-nav a:not(first-child) {
  margin-right: 3em;
}
header .main-nav .menu {
  z-index: 9999;
}
header .main-nav #nav-icon1 {
  z-index: 9999;
  margin-top: 4px;
  width: 20px;
  height: 20px;
  position: relative;
  margin-right: .5em;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
header .main-nav #nav-icon1 span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #555555;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}
header .main-nav #nav-icon1 span:nth-child(1) {
  top: 0px;
}
header .main-nav #nav-icon1 span:nth-child(2) {
  top: 7px;
}
header .main-nav #nav-icon1 span:nth-child(3) {
  top: 14px;
}
header .main-nav #nav-icon1.open span:nth-child(1) {
  top: 7px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}
header .main-nav #nav-icon1.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}
header .main-nav #nav-icon1.open span:nth-child(3) {
  top: 7px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
header .right-menu-item {
  text-align: right;
}
header .right-menu-item a {
  display: block;
  clear: both;
  cursor: pointer;
}
@media (min-width: 768px) {
  header .right-menu-item a {
    display: inline-block;
    clear: none;
  }
}
header .right-menu-item a.dropdown:before {
  content: "";
  width: 2px;
  height: 16px;
  display: inline-block;
  background: #ebe1cd;
  margin: 0 4px 0 4px;
  position: relative;
  top: 3px;
  visibility: hidden;
}
@media (min-width: 768px) {
  header .right-menu-item a.dropdown:before {
    visibility: visible;
  }
}
header .right-menu-item .right-menu-item_account,
header .right-menu-item .right-menu-item_cart {
  display: inline-block;
  position: relative;
}
header #cart-drop,
header #account-drop {
  background: #f0eade;
  padding: 1.5em 1em;
  width: 300px;
  border: none;
  box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.25);
}
header #account-drop footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 2rem 0 0 0;
}
header #account-drop footer a {
  color: #9e9e9e;
  font-size: 0.875rem;
}
header #cart-drop .cart-drop_item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid white;
  padding-top: 4%;
  padding-bottom: 4%;
}
header #cart-drop .cart-drop_item:first-child {
  padding-top: 0;
}
header #cart-drop .cart-drop_item:last-child {
  padding-bottom: 0;
}
header #cart-drop .cart-drop_item .cart-drop__thumb,
header #cart-drop .cart-drop_item .cart-drop__desc,
header #cart-drop .cart-drop_item .cart-drop__delete {
  display: inline-block;
  font-size: 0.6875rem;
  font-family: 'Roboto-Regular';
}
header #cart-drop .cart-drop_item .cart-drop__thumb {
  width: 20%;
}
header #cart-drop .cart-drop_item .cart-drop__desc {
  width: 70%;
  padding-left: 3%;
  padding-right: 3%;
}
header #cart-drop .cart-drop_item .cart-drop__desc .cart-drop__title {
  line-height: 1.2;
}
header #cart-drop .cart-drop_item .cart-drop__desc .cart-drop__title a {
  font-size: .75rem;
}
header #cart-drop .cart-drop_item .cart-drop__desc .cart-drop__quantity {
  display: inline-block;
}
header #cart-drop .cart-drop_item .cart-drop__desc .cart-drop__quantity input {
  width: 40px;
}
header #cart-drop .cart-drop_item .cart-drop__desc .cart-drop__price {
  display: inline-block;
}
header #cart-drop .cart-drop_item .cart-drop__delete {
  width: 5%;
}
header #cart-drop .cart-drop_item .cart-drop__delete a {
  display: block;
}
header #cart-drop img {
  width: 100%;
  height: 100%;
}
header #cart-drop .variation {
  margin-bottom: 0;
}
header #cart-drop .variation dt {
  display: none;
}
header #cart-drop .variation dd {
  display: inline-block;
  padding-right: .5em;
}
header #cart-drop .variation dd:not( :nth-child(2)) {
  padding-left: .5em;
  border-left: 1px solid #ddd;
}
header #cart-drop .variation p {
  margin-bottom: 0;
}
header #cart-drop footer.cart-drop_item {
  display: block;
  border: none;
  padding-top: 5%;
  padding-bottom: 0;
}
header #cart-drop footer.cart-drop_item .cart-drop__subtotal,
header #cart-drop footer.cart-drop_item .cart-drop__checkout {
  display: flex;
  justify-content: space-between;
}
header #cart-drop footer.cart-drop_item .cart-drop__subtotal {
  padding-bottom: 5%;
  align-items: flex-end;
}
header #cart-drop footer.cart-drop_item .cart-drop__subtotal .cartdrop___subtotalPrice {
  font-size: 1.125rem;
}
header #cart-drop footer.cart-drop_item .cart-drop__checkout {
  align-items: center;
}
header #cart-drop footer.cart-drop_item .cart-drop__checkout .cart-drop__viewCart {
  font-family: 'Roboto-Medium';
  font-size: 0.8125rem;
  text-decoration: underline;
}
/*----------------Icons-------------------*/
.icon-add,
.icon-minus,
.icon-x {
  display: inline-block;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  vertical-align: middle;
  line-height: 25px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.icon-add:hover,
.icon-minus:hover,
.icon-x:hover {
  background-color: #7eb184;
  fill: white;
}
.icon-add img,
.icon-minus img,
.icon-x img {
  margin-top: -0.5em;
  font-size: 16px;
  font-weight: 900;
}
.icon-add {
  background: url('../images/icon-add.svg') 5px center no-repeat #ebe1cd;
}
.icon-minus {
  background: url('../images/icon-minus.svg') center center no-repeat #ebe1cd;
}
.icon-x {
  background: url('../images/icon-x.svg') center center no-repeat #ebe1cd;
}
/*----------------Menu Overlay-------------------*/
.overlay-menu {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */

  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  background-color: #f0eade;
  overflow-y: hidden;
  transition: all 0.2s ease-in-out;
  text-align: center;
  display: none;
}
@media (min-width: 768px) {
  .overlay-menu {
    text-align: left;
  }
}
.overlay-menu .container .row {
  padding-top: 7em;
  /* Position the close button (top right corner) */

}
.overlay-menu .container .row nav {
  margin-bottom: 1em;
}
@media (min-width: 768px) {
  .overlay-menu .container .row nav {
    margin-bottom: 0;
  }
}
.overlay-menu .container .row nav a {
  text-decoration: none;
  display: block;
  font-family: "Roboto-Bold", serif;
  font-size: 2em;
  line-height: 1.5;
}
@media (min-width: 768px) {
  .overlay-menu .container .row nav a {
    font-size: 2.125em;
  }
}
.overlay-menu .container .row nav a:hover,
.overlay-menu .container .row nav a.active {
  color: #7eb184;
}
.overlay-menu .container .row #instafeed img {
  width: 100%;
}
.overlay-menu .container .row .overlay-menu_facebook {
  text-align: center;
}
@media (min-width: 768px) {
  .overlay-menu .container .row .overlay-menu_facebook {
    text-align: right;
  }
}
.overlay-menu .container .row .overlay-menu_facebook a path {
  transition: all 0.2s ease-in-out;
}
.overlay-menu .container .row .overlay-menu_facebook a:hover path {
  fill: #7eb184;
  transition: all 0.2s ease-in-out;
}
.overlay-menu .container .row .closebtn {
  margin: .5em 0 1em 0;
  font-size: 45px;
}
.overlay-menu .container .row .closebtn span {
  position: absolute;
  top: 7px;
  font-weight: normal;
  font-size: 15px;
  padding-left: 1em;
}
.content {
  flex: 1;
}
/*----------------Footer-------------------*/
footer#footer {
  margin-top: 8em;
  margin-bottom: .5em;
}
footer#footer .ft-menu {
  margin-bottom: .5em;
  text-align: center;
}
@media (min-width: 768px) {
  footer#footer .ft-menu {
    text-align: left;
  }
}
footer#footer .ft-menu a {
  font-family: "PlayfairDisplay-Regular";
  font-size: 1em;
  margin-right: .5em;
}
@media (min-width: 768px) {
  footer#footer .ft-menu a {
    font-size: 1.5em;
  }
}
footer#footer .ft-menu a.mi:after {
  content: '\00B7';
  font-size: 1.3em;
  padding-left: .5em;
  padding-top: .5em;
  color: #7eb184;
}
footer#footer .ft-menu .fb {
  clear: both;
  display: block;
  margin-top: 1em;
}
@media (min-width: 768px) {
  footer#footer .ft-menu .fb {
    position: absolute;
    display: inline-block;
    right: 15px;
    margin: 0;
  }
}
footer#footer .ft-menu .fb path {
  transition: all 0.2s ease-in-out;
}
footer#footer .ft-menu .fb:hover path {
  fill: #7eb184;
  transition: all 0.2s ease-in-out;
}
footer#footer .ft-contact {
  color: #555555;
  font-size: 0.8125em;
  text-align: center;
}
@media (min-width: 768px) {
  footer#footer .ft-contact {
    text-align: left;
  }
}
footer#footer .ft-contact a {
  font-size: 1em;
}
footer#footer .author {
  font-family: "PlayfairDisplay-Regular";
  font-size: 0.75em;
  text-align: center;
}
@media (min-width: 768px) {
  footer#footer .author {
    text-align: right;
  }
}
footer#footer .author a {
  font-family: "PlayfairDisplay-Italic";
  color: #7eb184;
  font-size: 1em;
}
footer#footer .author a:hover {
  color: #5b7543;
}
/*----------------Homepage-------------------*/
#homepage .home-feature .home-feature_left h1 {
  font-family: 'PlayfairDisplay-Bold';
  font-size: 3rem;
  text-align: center;
  line-height: 1;
  margin-top: 0;
}
@media (min-width: 768px) {
  #homepage .home-feature .home-feature_left h1 {
    font-size: 4rem;
    text-align: right;
  }
}
@media (min-width: 992px) {
  #homepage .home-feature .home-feature_left h1 {
    font-size: 5.625rem;
  }
}
#homepage .home-feature .home-feature_left h2 {
  font-family: 'PlayfairDisplay-Italic';
  font-size: 1.3rem;
  text-align: center;
  margin-top: 0;
}
@media (min-width: 768px) {
  #homepage .home-feature .home-feature_left h2 {
    font-size: 1.4rem;
    text-align: right;
  }
}
@media (min-width: 992px) {
  #homepage .home-feature .home-feature_left h2 {
    font-size: 1.625rem;
  }
}
#homepage .home-feature .home-feature_left p {
  margin-top: 2em;
  text-align: center;
}
@media (min-width: 768px) {
  #homepage .home-feature .home-feature_left p {
    margin-bottom: 4em;
    text-align: right;
    margin-left: auto;
    width: 50%;
  }
}
#homepage .home-feature .home-feature_left .home-feature_left__stamp img {
  display: block;
  margin: auto;
}
@media (min-width: 768px) {
  #homepage .home-feature .home-feature_left .home-feature_left__stamp img.nutshell,
  #homepage .home-feature .home-feature_left .home-feature_left__stamp img.organic-stamp {
    margin-left: auto;
    margin-right: 0;
  }
}
#homepage .home-feature .home-feature_left .home-feature_left__stamp img.hr {
  display: none;
}
@media (min-width: 768px) {
  #homepage .home-feature .home-feature_left .home-feature_left__stamp img.hr {
    margin-right: 4rem;
    margin-top: -7rem;
    margin-bottom: 2rem;
    display: block;
  }
}
#homepage .home-feature .home-feature_left .home-feature_left__img {
  position: absolute;
  right: 20em;
  top: 16em;
}
@media (min-width: 768px) {
  
}
#homepage .home-feature .home-feature_right {
  text-align: center;
  margin-top: 2em;
}
@media (min-width: 768px) {
  #homepage .home-feature .home-feature_right {
    margin-top: 0;
  }
}
@media (min-width: 768px) {
  
}
#homepage .nuts-progression_img {
  margin: 4em 0 4em 0;
}
@media (min-width: 768px) {
  #homepage .nuts-progression_img {
    margin: 4em 0 8em 0;
  }
}
#homepage .nuts-progression_img img {
  max-width: 100%;
}
/*----------------View cart styles-------------------*/
/*Overwrite woocommerce default cart tables*/
.woocommerce table.shop_table {
  border: none !important;
  margin: 0 !important;
  /*text-align: left; */

  /*width: 100%;*/
  /* border-collapse: separate; */

  border-radius: 0 !important;
}
.woocommerce table.shop_table .cart-view_remove,
.cart-view .cart-view_remove {
  display: table-cell !important;
  font-size: 0 !important;
  height: auto !important;
  width: auto !important;
  text-align: right !important;
  line-height: 1 !important;
  border-radius: none !important;
  color: inherit !important;
  text-decoration: none;
  font-weight: inherit !important;
  border: inherit !important;
  background: none !important;
}
/*End Overwrite woocommerce default cart tables*/
.woocommerce table.shop_table thead th,
.cart-view thead th {
  font-family: 'PlayfairDisplay-Regular';
  font-size: .8rem;
  border: none;
  margin-bottom: 2rem;
}
.woocommerce table.shop_table thead th:first-child,
.cart-view thead th:first-child {
  padding-left: 0;
  /* To counter left padding on the table */

}
.woocommerce table.shop_table thead th:last-child,
.cart-view thead th:last-child {
  padding-right: 0;
  /* To counter right padding on the table */

}
.woocommerce table.shop_table tbody td,
.cart-view tbody td {
  border-top: none;
  border-bottom: 1px solid #ebe1cd;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.woocommerce table.shop_table tbody td:first-child,
.cart-view tbody td:first-child {
  padding-left: 0;
  /* To counter left padding on the table */

}
.woocommerce table.shop_table tbody td:last-child,
.cart-view tbody td:last-child {
  padding-right: 0;
  /* To counter right padding on the table */

}
.woocommerce table.shop_table .cart-view_thumbnail,
.cart-view .cart-view_thumbnail {
  width: 100%;
  text-align: center;
}
.woocommerce table.shop_table .cart-view_thumbnail a,
.cart-view .cart-view_thumbnail a,
.woocommerce table.shop_table .cart-view_thumbnail img,
.cart-view .cart-view_thumbnail img {
  display: block;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .woocommerce table.shop_table .cart-view_thumbnail,
  .cart-view .cart-view_thumbnail {
    width: 10%;
  }
}
.woocommerce table.shop_table .cart-view_name a.cart-view_name_title,
.cart-view .cart-view_name a.cart-view_name_title {
  font-family: 'PlayfairDisplay-Bold';
  font-size: 2.375rem;
}
.woocommerce table.shop_table .cart-view_name dt,
.cart-view .cart-view_name dt {
  display: none;
  /*Hide variation title*/

}
.woocommerce table.shop_table .cart-view_remove,
.cart-view .cart-view_remove {
  display: block;
  font-size: 1.5em;
  height: 1em;
  width: 1em;
  text-align: center;
  line-height: 1;
  border-radius: 100%;
  color: red!important;
  text-decoration: none;
  font-weight: 700;
  border: 0;
  color: #fff!important;
  background: red;
}
/*----------------Discount label styles-------------------*/
.product-slider__discount {
  background: #f9b916;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  line-height: 39px;
  text-align: center;
  z-index: 100;
  box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.1);
}
.product-slider__discount span {
  font-family: 'Roboto-Bold';
  font-size: 0.8125rem;
  text-align: center;
  color: white;
}
/*----------------Product slider styles-------------------*/
.product-slider .product-slider_inner {
  position: relative;
  overflow: hidden;
}
.product-slider .product-slider_inner:hover .carousel-prev,
.product-slider .product-slider_inner:hover .carousel-next {
  opacity: 1;
}
.product-slider .product-slider_inner .product-slider__discount {
  position: absolute;
  right: 1rem;
  top: 0;
}
.product-slider .product-slider_inner .carousel-next,
.product-slider .product-slider_inner .carousel-prev {
  transition: all 0.2s ease-in-out;
  opacity: 0;
  z-index: 200;
  top: 230px;
  cursor: pointer;
  position: absolute;
}
.product-slider .product-slider_inner .carousel-next path,
.product-slider .product-slider_inner .carousel-prev path {
  transition: all 0.2s ease-in-out !important;
}
.product-slider .product-slider_inner .carousel-next:hover path,
.product-slider .product-slider_inner .carousel-prev:hover path,
.product-slider .product-slider_inner .carousel-next:hover g,
.product-slider .product-slider_inner .carousel-prev:hover g {
  fill: #7eb184 !important;
  transition: all 0.2s ease-in-out !important;
}
.product-slider .product-slider_inner .carousel-prev {
  left: 0;
}
.product-slider .product-slider_inner .carousel-next {
  right: 0;
}
.product-slider .product-slider_inner .owl-carousel:before {
  position: absolute;
  top: 0;
  left: -75%;
  z-index: 2;
  display: block;
  content: '';
  width: 50%;
  height: 100%;
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
  -webkit-transform: skewX(-25deg);
  transform: skewX(-25deg);
  opacity: .5;
}
.product-slider .product-slider_inner .owl-carousel:hover::before {
  -webkit-animation: shine 0.55s ease-out;
  animation: shine 0.55s ease-out;
}
@-webkit-keyframes shine {
  100% {
    left: 125%;
  }
}
@keyframes shine {
  100% {
    left: 125%;
  }
}
.product-slider .product-slider_inner .owl-carousel a {
  display: block;
}
.product-slider .product-slider_inner .owl-carousel a:hover {
  cursor: pointer;
}
.product-slider .product-slider_inner .owl-carousel .owl-item,
.product-slider .product-slider_inner .owl-carousel .item {
  margin: 0 auto;
}
.product-slider .product-slider_inner .owl-carousel .owl-item {
  cursor: pointer;
}
.product-slider .product-slider_inner .owl-carousel .owl-item .item .owl-carousel-bgImg {
  transition: all 0.2s ease-in-out;
  margin: 0 auto;
  width: 600px;
  height: 400px;
  max-width: 100%;
  display: block;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.product-slider .product-slider-title_sm {
  font-size: 1.625rem;
}
.product-slider .control_quantity {
  text-align: center;
  justify-content: center;
  align-items: center;
}
.product-slider .owl-dots .owl-dot span {
  background-color: #e0d9c9;
  margin: 5px 5px;
  transition: all 0.2s ease-in-out;
}
.product-slider .owl-dots .owl-dot:hover span {
  background-color: #ebe1cd;
}
.product-slider .owl-dots .owl-dot.active span {
  background-color: #f9b916;
}
.control .control_quantity {
  display: flex;
}
.control .control_quantity [type=text] {
  font-family: "Roboto-Bold", serif;
  font-size: 1rem;
  width: 2em;
  text-align: center;
  border: none;
  background: none;
  outline: none;
  margin: 0 .5em;
}
.control .control_quantity [type=text]:focus {
  background: #ebe1cd;
  border-radius: 5px;
  outline: none;
}
.control .variation {
  font-size: 0.75rem;
  margin: 0 auto 1em;
}
.control .btn {
  margin-top: 2em;
}
/*----------------Price details-------------------*/
.price-details {
  margin-bottom: 1em;
}
.price-details .regular-arrow {
  font-size: 1rem;
  line-height: 16px;
  vertical-align: text-top;
  margin: 0 15px;
}
.price-details .regular {
  color: #9e9e9e;
  text-decoration: line-through;
}
.price-details .regular.regular-price {
  font-size: 1rem;
}
.price-details .price {
  font-family: 'Roboto-Medium', serif;
  font-size: 1.2rem;
}
.price-details .dollar {
  font-size: 0.6rem;
  line-height: 15px;
  vertical-align: text-top;
  padding-right: 3px;
}
/*----------------Article with image and offset title-------------------*/
.article-offset {
  height: 100%;
  position: relative;
  padding: 0;
}
@media (min-width: 768px) {
  .article-offset {
    display: table;
  }
}
.article-offset .row {
  height: 100%;
  display: table-row;
}
@media (min-width: 768px) {
  .article-offset .row article > * {
    padding: 0 15%;
  }
}
.article-offset .row .article-offset_img {
  float: none;
  vertical-align: top;
  position: relative;
  min-height: 20rem;
}
@media (min-width: 768px) {
  .article-offset .row .article-offset_img {
    display: table-cell;
    height: 100%;
  }
}
.article-offset .row .article-offset_img img {
  width: 100%;
}
.article-offset .row article {
  float: none;
  vertical-align: top;
  padding-bottom: 2em;
}
@media (min-width: 768px) {
  .article-offset .row article {
    display: table-cell;
  }
}
.article-offset .row article .article-offset_heading {
  background: #fefbf3;
}
@media (min-width: 768px) {
  .article-offset .row article .article-offset_heading {
    margin-left: -5em;
    padding: 0em 0 0em 3em;
  }
}
.article-offset .row article .article-offset_heading .article-title {
  padding-top: 1rem;
  padding-bottom: 2rem;
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .article-offset .row article .article-offset_heading .article-title {
    margin: auto;
  }
}
/*----------------Page descriptions-------------------*/
.page-description {
  margin-bottom: 4em;
}
.page-description h4 {
  margin-top: 0;
  font-family: "Playfair Display";
  font-size: 88px;
  font-weight: bold;
  color: #555555;
}
.page-description .text {
  margin-top: 10px;
  font-family: "Roboto-Regular";
  font-size: 16px;
  line-height: 26px;
  color: #555555;
}
/*----------------Shop page-------------------*/
#shop .products {
  margin-bottom: 2em;
}
#shop .products .col-md-4 .disabled.owl-dots {
  display: block;
}
#shop .products .col-md-4 .disabled.owl-dots .owl-dot {
  visibility: hidden;
}
.tab-benefit {
  cursor: pointer;
  position: absolute;
  right: -40px;
  background: #e0d9c9;
  transform: rotate(90deg);
  border-radius: 0 0 5px 5px;
  color: #555555;
}
/*Product detail page*/
#product .product-details__title {
  font-family: "PlayfairDisplay-Bold", serif;
  font-size: 3.625rem;
  color: #555555;
}
#product .product-details .product-details_contents .product-details_description {
  font-size: 1.125rem;
  margin-bottom: .5em;
}
#product .product-details .product-details_contents .product-details__price {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}
#product .product-details .product-details_contents .product-details__price .price-details {
  display: inline-block;
  margin-bottom: 0;
  margin-right: 1.5rem;
}
#product .product-details .product-details_contents .product-details__price .product-slider__discount {
  display: inline-block;
}
#product .product-details .product-details_contents .product-attr_title {
  font-family: "Roboto-Bold";
  font-size: 0.875rem;
  margin-top: 0;
  margin-bottom: .5em;
}
#product .product-details .product-details_contents .product-attr {
  margin-bottom: 2em;
}
#product .product-details .product-details_contents .product-attr input[type=radio] {
  display: none;
}
#product .product-details .product-details_contents .product-attr input[type=radio]:checked + label {
  background-color: #e0d9c9;
  border: 1px solid #e0d9c9;
  color: #555555;
}
.related-products {
  padding: 8em 0 0 0;
  text-align: center;
}
.related-products * {
  transition: all 0.2s ease-in-out;
}
.related-products h2 {
  font-family: "Roboto-Bold", serif;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  line-height: 19px;
  color: #555555;
}
.related-products .item {
  position: relative;
  max-width: 15em;
  margin: 0 auto;
  transition: all 0.2s ease-in-out;
}
.related-products .item:hover .overlay {
  display: block;
}
.related-products .item:hover img {
  opacity: 0.1;
}
.related-products .item a .overlay {
  position: absolute;
  top: 35%;
  display: none;
  z-index: 99;
  text-align: center;
  width: 100%;
}
.related-products .item a .overlay h4 {
  color: #555555;
}
.related-products .carousel-prev,
.related-products .carousel-next {
  top: 130px !important;
}
.modal .modal-content .modal-header {
  border: none;
  background-color: #fefbf3;
  border-radius: 5px 5px 0 0;
}
.modal .modal-content .modal-body {
  padding: 0em 3em 3em 3em;
  background-color: #fefbf3;
  border-radius: 0 0 5px 5px;
}
.modal .modal-content .modal-body img {
  max-width: 100%;
}
.modal .modal-content .modal-body h2 {
  margin-top: 0;
}
/*----------------Form fields-------------------*/
/*Overwriting Chrome autocomplete input field yellow background | http://stackoverflow.com/questions/2781549/removing-input-background-colour-for-chrome-autocomplete*/
input:-webkit-autofill {
  background-color: #f2eee3 !important;
  -webkit-box-shadow: 0 0 0px 1000px white inset;
  -webkit-text-fill-color: #555555 !important;
}
.form-group .nf-form-title h3,
.nf-form-cont .nf-form-title h3 {
  margin-bottom: 2rem;
}
.form-group label,
.nf-form-cont label,
.form-group .ninja-forms-req-symbol,
.nf-form-cont .ninja-forms-req-symbol {
  font-size: .875rem;
  color: #9e9e9e;
  font-family: 'Roboto-Regular';
  margin: 0;
  padding: 0;
}
.form-group .nf-field-label,
.nf-form-cont .nf-field-label {
  margin: 0 !important;
  padding: 0 !important;
}
.form-group .nf-fail input,
.nf-form-cont .nf-fail input {
  border: 1px solid #d0021b !important;
}
.form-group .nf-after-field,
.nf-form-cont .nf-after-field {
  display: none;
  /*hide msg 'this is a required field'*/

}
.form-group .nf-field-container,
.nf-form-cont .nf-field-container {
  margin-bottom: 2rem;
}
.form-group .form-control,
.nf-form-cont .form-control,
.form-group input,
.nf-form-cont input {
  background-color: #f2eee3;
  border: none;
}
.form-group .form-control:focus,
.nf-form-cont .form-control:focus,
.form-group input:focus,
.nf-form-cont input:focus {
  box-shadow: none;
  background: white;
}
#get-in-touch-form .textbox-container,
#get-in-touch-form .email-container {
  width: 48%;
  display: inline-block;
}
#get-in-touch-form .textbox-container input,
#get-in-touch-form .email-container input,
#get-in-touch-form .textarea-container textarea {
  border-radius: 5px;
  background-color: #F1EDE3;
  border: 1px solid #F1EDE3;
  padding: .5em 1em;
}
#get-in-touch-form .nf-after-form-content,
#get-in-touch-form .nf-before-form-content {
  display: none;
}
#account-drop .form-control {
  background-color: white;
}
.custom-select {
  font-family: 'Roboto-Medium';
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: .3em 1.5em .3em .8em;
  width: 8rem;
  background: #f2eee3 url("../images/icon-arrow_down.svg") 6.8rem center no-repeat;
}
.custom-select:after {
  content: "▼";
  display: inline-block;
  position: absolute;
  right: 0;
  top: 0;
}
/*----------------About page-------------------*/
/*----------------Wholesale page-------------------*/
#wholesale img {
  max-width: 100%;
}
#wholesale .wholesale-cert img {
  margin-right: 2rem;
  display: inline-block;
}
.contact-info p {
  margin-bottom: 2rem;
}
.contact-info_title,
.nf-form-title h3 {
  font-family: 'PlayfairDisplay-Bold';
  font-size: 1.125rem;
}
/*----------------The photo page-------------------*/
#the-photo .insta_container {
  position: relative;
  margin-bottom: 2rem;
}
#the-photo .insta_container .insta_msg {
  z-index: 999;
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 15px;
  bottom: 0;
  right: 15px;
  background: rgba(91, 117, 67, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}
#the-photo .insta_container .insta_msg .text {
  color: white;
  text-align: center;
  padding: 0 1rem;
}
#the-photo .insta_container .inst-photo {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}
#the-photo .insta_container:hover .inst-photo {
  opacity: 0.3 !important;
}
#the-photo .insta_container:hover .insta_msg {
  opacity: 1;
}
/*----------------The photo page-------------------*/
#get-in-touch #google-map {
  height: 40em;
}
#get-in-touch #google-map #google-tooltip #google-tooltip_img {
  max-width: 230px;
}
#get-in-touch #google-map #google-tooltip #google-tooltip_img img {
  width: 100%;
}
#get-in-touch #google-map #google-tooltip #google-tooltip_info {
  max-width: 230px;
  background: #282828;
  color: white;
  padding: 1rem .8rem;
  font-size: 0.8rem;
  color: #f2eee3;
}
#get-in-touch #google-map #google-tooltip #google-tooltip_info .google-tooltip_info_title {
  font-family: 'Roboto-Medium';
  margin-bottom: .2rem;
}
#get-in-touch #google-map #google-tooltip #google-tooltip_info .google-tooltip_info_text {
  font-family: 'Roboto-Light';
  line-height: 1.3;
}
