@font-face {
  font-family: 'PlayfairDisplay-Regular';
  src: url('../fonts/PlayfairDisplay/PlayfairDisplay-Regular.ttf');
}
@font-face {
  font-family: 'PlayfairDisplay-Italic';
  src: url('../fonts/PlayfairDisplay/PlayfairDisplay-Italic.ttf');
}
@font-face {
  font-family: 'PlayfairDisplay-Bold';
  src: url('../fonts/PlayfairDisplay/PlayfairDisplay-Bold.ttf');
}
@font-face {
  font-family: 'Roboto-Regular';
  src: url('../fonts/Roboto/Roboto-Regular.ttf');
}
@font-face {
  font-family: 'Roboto-Medium';
  src: url('../fonts/Roboto/Roboto-Medium.ttf');
}
@font-face {
  font-family: 'Roboto-Bold';
  src: url('../fonts/Roboto/Roboto-Bold.ttf');
}
@font-face {
  font-family: 'Roboto-Light';
  src: url('../fonts/Roboto/Roboto-Light.ttf');
}
* {
  font-size: 16px;
  line-height: 1.8;
}
.btn {
  background: #7EB184;
  border: none;
  text-shadow: none;
  box-shadow: none;
  border-radius: 5px;
  font-size: 1em;
  color: white;
  transition: all 0.2s ease-in-out !important;
}
.btn:hover,
.btn:focus {
  background: #5B7543;
  color: white;
}
.btn.btn-sm {
  font-size: 0.8125em;
}
.btn.btn-lg {
  font-size: 1em;
}
.noPadding {
  padding: 0 !important;
  margin: 0 !important;
}
body {
  overflow-y: hidden;
  font-size: 16px;
}
html {
  overflow-y: scroll;
}
p {
  font-size: 1em;
}
html,
body {
  height: 100%;
  background-color: #FEFBF3;
  color: #555555;
  font-family: 'Roboto-Regular', sans-serif;
  transition: all 0.2s ease-in-out !important;
}
html .preload-loading,
body .preload-loading {
  width: 100%;
  height: 100%;
  background-color: #EFE9DD;
  overflow: hidden;
  text-align: center;
}
html .preload-loading .loading-widgets,
body .preload-loading .loading-widgets {
  border: none;
  text-align: center;
  margin-top: 10%;
}
html .preload-loading .loading-widgets img,
body .preload-loading .loading-widgets img {
  margin: 0 auto 2em auto;
  display: block;
}
html .preload-loading .loading-widgets .dial,
body .preload-loading .loading-widgets .dial {
  display: none;
}
html .preload-content,
body .preload-content {
  display: none;
}
html a,
body a {
  transition: all 0.2s ease-in-out !important;
  color: #555555;
}
html a:hover,
body a:hover {
  transition: all 0.2s ease-in-out !important;
  color: #7EB184;
  text-decoration: none;
}
html span.is-img img,
body span.is-img img {
  opacity: 0;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}
html span.is-img .loaded,
body span.is-img .loaded {
  opacity: 1 !important;
}
header {
  padding-top: 2.5em;
  padding-bottom: 4em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header:before,
header:after {
  display: none !important;
}
header a {
  font-size: .875em;
}
header #logo {
  position: absolute;
  left: 50%;
  margin-left: -60px;
  right: 50%;
}
header .main-nav {
  display: flex;
  align-items: center;
}
header .main-nav a:not(first-child) {
  margin-right: 3em;
}
header .main-nav .menu {
  z-index: 9999;
}
header .main-nav #nav-icon1 {
  z-index: 9999;
  margin-top: 4px;
  width: 20px;
  height: 20px;
  position: relative;
  margin-right: .5em;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
header .main-nav #nav-icon1 span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #555555;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}
header .main-nav #nav-icon1 span:nth-child(1) {
  top: 0px;
}
header .main-nav #nav-icon1 span:nth-child(2) {
  top: 7px;
}
header .main-nav #nav-icon1 span:nth-child(3) {
  top: 14px;
}
header .main-nav #nav-icon1.open span:nth-child(1) {
  top: 7px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}
header .main-nav #nav-icon1.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}
header .main-nav #nav-icon1.open span:nth-child(3) {
  top: 7px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
header .menu-account a:last-child:before {
  content: "";
  width: 2px;
  height: 16px;
  display: inline-block;
  background: #EBE1CD;
  margin: 0 9px 0 4px;
  position: relative;
  top: 3px;
}
/* The Overlay menu */
.overlay-menu {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  background-color: #F0EADE;
  overflow-y: hidden;
  transition: all 0.2s ease-in-out !important;
  display: none;
}
.overlay-menu .container .row {
  padding-top: 5em;
  /* Position the close button (top right corner) */
}
.overlay-menu .container .row nav {
  padding-left: 0;
}
.overlay-menu .container .row nav a {
  text-decoration: none;
  display: block;
  font-family: "Roboto-Bold", serif;
  font-size: 2.125em;
  line-height: 1.5;
}
.overlay-menu .container .row nav a:hover {
  color: #7EB184;
}
@media screen and (max-height: 450px) {
  .overlay-menu .container .row nav a {
    font-size: 1.4em;
  }
}
.overlay-menu .container .row #instafeed img {
  width: 100%;
}
.overlay-menu .container .row .overlay-menu_facebook {
  text-align: right;
}
.overlay-menu .container .row .closebtn {
  margin: .5em 0 1em 0;
  font-size: 45px;
}
@media screen and (max-height: 450px) {
  .overlay-menu .container .row .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}
.overlay-menu .container .row .closebtn span {
  position: absolute;
  top: 7px;
  font-weight: normal;
  font-size: 15px;
  padding-left: 1em;
}
footer {
  margin-top: 6em;
  margin-bottom: 3em;
}
footer .ft-menu {
  margin-bottom: .5em;
}
footer .ft-menu a {
  font-family: "PlayfairDisplay-Regular";
  font-size: 24px;
  line-height: 16px;
  margin-right: .5em;
}
footer .ft-menu a.mi:after {
  content: '\00B7';
  font-size: 1.3em;
  padding-left: .5em;
  padding-top: .5em;
  color: #7EB184;
}
footer .ft-contact {
  color: #555555;
  font-size: 0.8125em;
}
footer .ft-contact a {
  font-size: 1em;
}
footer .author {
  font-family: "PlayfairDisplay-Regular";
  font-size: 0.75em;
  text-align: right;
}
footer .author a {
  font-family: "PlayfairDisplay-Italic";
  color: #7EB184;
  font-size: 1em;
}
footer .author a:hover {
  color: #5B7543;
}
#homepage .home-feature .home-feature_left h1 {
  font-family: 'PlayfairDisplay-Bold';
  font-size: 5.625em;
  text-align: right;
  line-height: 1;
  margin-top: 0;
}
#homepage .home-feature .home-feature_left h2 {
  font-family: 'PlayfairDisplay-Italic';
  font-size: 1.625em;
  text-align: right;
  margin-top: 0;
}
#homepage .home-feature .home-feature_left p {
  margin-top: 2em;
  margin-bottom: 4em;
  margin-left: auto;
  text-align: right;
  width: 50%;
}
#homepage .home-feature .home-feature_left .home-feature_left__stamp img {
  margin-left: auto;
  display: block;
}
#homepage .home-feature .home-feature_left .hr {
  margin-right: 4em;
  margin-top: -8em;
  margin-bottom: 2em;
}
#homepage .home-feature .home-feature_left .home-feature_left__img {
  position: absolute;
  right: 20em;
  top: 16em;
}
#homepage .home-feature .home-feature_right {
  text-align: center;
}
#homepage .home-feature .home-feature_right .home-feature_right__img {
  float: left;
  left: -6px;
  margin-top: 5em;
  position: absolute;
}
#homepage .home-feature .home-feature_right .home-feature__productSlider .home-feature__productSlider_inner:hover .carousel-prev,
#homepage .home-feature .home-feature_right .home-feature__productSlider .home-feature__productSlider_inner:hover .carousel-next {
  visibility: visible !important;
}
#homepage .home-feature .home-feature_right .home-feature__productSlider .home-feature__productSlider_inner {
  text-align: center;
  position: relative;
  width: 260px;
  margin: 0 auto;
}
#homepage .home-feature .home-feature_right .home-feature__productSlider .home-feature__productSlider_inner .carousel-prev {
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 40%;
}
#homepage .home-feature .home-feature_right .home-feature__productSlider .home-feature__productSlider_inner .carousel-next {
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 40%;
}
#homepage .home-feature .home-feature_right .home-feature__productSlider .home-feature__productSlider_inner .carousel-next,
#homepage .home-feature .home-feature_right .home-feature__productSlider .home-feature__productSlider_inner .carousel-prev {
  transition: all 0.2s ease-in-out !important;
}
#homepage .home-feature .home-feature_right .home-feature__productSlider .home-feature__productSlider_inner .carousel-next:hover path,
#homepage .home-feature .home-feature_right .home-feature__productSlider .home-feature__productSlider_inner .carousel-prev:hover path {
  fill: #7EB184 !important;
  transition: all 0.2s ease-in-out !important;
}
#homepage .home-feature .home-feature_right .home-feature__productSlider .home-feature__productSlider_inner .featured {
  margin: 0 auto;
  display: block;
  width: 235px;
  height: 320px;
  overflow: hidden;
}
#homepage .home-feature .home-feature_right .home-feature__productSlider .control .control_quantity {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}
#homepage .home-feature .home-feature_right .home-feature__productSlider .control .control_quantity .add,
#homepage .home-feature .home-feature_right .home-feature__productSlider .control .control_quantity .remove {
  display: inline-block;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  vertical-align: middle;
  line-height: 25px;
  cursor: pointer;
  transition: all 0.2s ease-in-out !important;
}
#homepage .home-feature .home-feature_right .home-feature__productSlider .control .control_quantity .add:hover,
#homepage .home-feature .home-feature_right .home-feature__productSlider .control .control_quantity .remove:hover {
  background-color: #7EB184;
  fill: white;
}
#homepage .home-feature .home-feature_right .home-feature__productSlider .control .control_quantity .add img,
#homepage .home-feature .home-feature_right .home-feature__productSlider .control .control_quantity .remove img {
  margin-top: -0.5em;
  font-size: 16px;
  font-weight: 900;
}
#homepage .home-feature .home-feature_right .home-feature__productSlider .control .control_quantity .add {
  background: url('../images/icon-add.svg') 5px center no-repeat #EBE1CD;
}
#homepage .home-feature .home-feature_right .home-feature__productSlider .control .control_quantity .remove {
  background: url('../images/icon-remove.svg') center center no-repeat #EBE1CD;
}
#homepage .home-feature .home-feature_right .home-feature__productSlider .control .control_quantity [type=text] {
  font-family: "Roboto-Bold", serif;
  font-size: 1rem;
  width: 2em;
  text-align: center;
  border: none;
  background: none;
  outline: none;
  margin: 0 .5em;
}
#homepage .home-feature .home-feature_right .home-feature__productSlider .control .control_quantity [type=text]:focus {
  background: #EBE1CD;
  border-radius: 5px;
  outline: none;
}
#homepage .home-feature .home-feature_right .home-feature__productSlider .control .btn {
  margin-top: 1em;
}
#homepage .nuts-progression_img {
  margin: 4em 0 8em 0;
}
.article-offset {
  height: 100%;
  position: relative;
  display: table;
  padding: 0;
}
.article-offset .row {
  height: 100%;
  display: table-row;
}
.article-offset .row article > * {
  padding: 0 15%;
}
.article-offset .row .article-offset_img {
  display: table-cell;
  float: none;
  vertical-align: top;
  height: 100%;
  position: relative;
}
.article-offset .row .article-offset_img img {
  width: 100%;
}
.article-offset .row article {
  display: table-cell;
  float: none;
  vertical-align: top;
  padding-bottom: 2em;
}
.article-offset .row article .article-offset_heading {
  background: #FEFBF3;
  padding: 1em 0 2em 3em;
  margin-left: -5em;
}
.article-offset .row article .article-offset_heading h2 {
  font-family: 'PlayfairDisplay-Regular';
  font-size: 50px;
  line-height: 67px;
  text-align: left;
  margin: auto;
}
